.main
{
height:800px;
width:750px;
background-color:red;
margin:auto

}
.header
{
height:150px;
width:750px;
background-color:purple;
}
.logo
{
height:150px;
width:200px;
background-color:aqua;
float:left;	
}
.menu
{
	height:150px;
	width:550px;
	background-color:red;
	float:left;
	
}

.banner
{
height:300px;
width:750px;
background-color:pink;	

}
.content
{
height:300px;
width:750px;
background-color:purple;
}

.cont1
{
height:270px;
width:225px;
background-color:orange;
margin:12px;
float:left;
}
.footer
{
height:50px;
width:750px;
background-color:yellow;

}