.main
{
height:800px;
width:750px;
background-color:red;
font-size:20px;
margin:auto;
}
.header
{
height:150px;
width:750px;
background-color:purple;
color:yellow;
font-size:20px;	
}
.banner
{
height:200px;
width:750px;
background-color:pink;	
font-size:20px;
color:green;
}
.content
{
height:400px;
width:750px;
background-color:blue;
color:red;
font-size:20px;	
}
.footer
{
height:50px;
width:750px;
background-color:yellow;
color:blue
font-size:20px;
}