.main
{
height:800px;
width:750px;
background-color:purple;
}
.headder
{
height:200px;
width:750px;
background-color:red;	
}
.content
{
height:400px;
width:750px;
background-color:pink;	
}
.footer
{
height:500px;
width:750px;
background-color:yellow;	
}